<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>XPC Demo</title>
	<script type="text/javascript" src="../../../apps/core_dom_youa.js"></script>
	<script type="text/javascript" src="../../../components/xpc/xpc.js"></script>
    </head>
	<body>
		<iframe name="XPC_IFRAME" src="http://qgy18.imququ.com/qwrap_test/components/xpc/_examples/child2.html"></iframe>
		<iframe name="THIS_IS_A_XPC_IFRAME" src="http://qgy18.imququ.com/qwrap_test/components/xpc/_examples/child2.html"></iframe>
		<div><input style="display:none;" type="button" id="btn" value="开始" /></div>
		<div id="s1"></div>
		<div id="s2"></div>
		<script type="text/javascript">
		W(window).on('load', function() {
			var xpc1 = new XPC(),
				xpc2 = new XPC({'iframeName' : 'THIS_IS_A_XPC_IFRAME'});
			
			var count1 = 0,
				count2 = 0;

			var timer1 = null,
				timer2 = null;

			W('#btn').show().click(function(e) {
				e.preventDefault();
				if(timer1 || timer2) {
					clearInterval(timer1);
					clearInterval(timer2);
					timer1 = null;
					timer2 = null;
					W(this).val('开始');
				} else {
					timer1 = setInterval(function() {
						count1++;
						W('#s1').html('给第一个iframe发送消息数：' + count1);

						xpc1.send('e.data :' + count1);
					}, 10);

					timer2 = setInterval(function() {
						count2++;
						W('#s2').html('给第二个iframe发送消息数：' + count2);

						xpc2.send('e.data :' + count2);
					}, 30);

					W(this).val('暂停');
				}
			});
		});
		</script>
	</body>
</html>