<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TEST</title>
	<script type="text/javascript" src="../../../apps_qiwu/qwrap_qiwu.js"></script>
	<script type="text/javascript" src="../../../components/anim/anim.js"></script>

    </head>
	<body>
		<div id="test" style="cursor:pointer;position:absolute;top:80px;left:20px;width:100px;height:100px;background:#6B90DA;border:#333"></div>
		<input type="button" value="fadeIn(1000)" />
		<input type="button" value="fadeOut(1000)" />
		<input type="button" value="slideDown(1000)" />
		<input type="button" value="slideUp(1000)" />
		<input type="button" value="show()" />
		<input type="button" value="hide()" /><br/ >
		<input type="button" value="stop()" />
		<input type="button" value="stop(false, true)" />
		<script type="text/javascript">
			W('input').click(function(e) {
				e.preventDefault();
				eval('W("#test").' + this.value);
			});
		</script>
	</body>
</html>
