<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Anim SmokingTest</title>
	<link href="../../../apps/assets/base.css" rel="stylesheet" type="text/css" media="screen"/>
	<script type="text/javascript" src="../../../apps/core_dom_retouched.js"></script>
	<script type="text/javascript" src="../../../qiwu/anim/anim.js"></script>

	<script type="text/javascript" src="../../../_tools/smokingtest/SmokingTest.js"></script>
	<link href="../../../_tools/smokingtest/assets/page.css" rel="stylesheet" type="text/css" media="screen"/>
    <style type="text/css" title="default" media="screen">
    /*<![CDATA[*/

    /*]]>*/
    </style>
    </head>
<body>
<div id=doc3>
	<h1 class="page-h1">Anim 冒烟测试</h1>
	<div id=hd>
		<!-- keep it -->
	</div>
	<div id="bd" >
		<div class="section-ctn" id="ST_ctn">
		</div>
	</div>

	<div id="ft">
		QWrap (<a href="http://www.qwrap.com">www.qwrap.com</a>)
	</div>
</div>

<script>
SmokingTest.init(document.getElementById('ST_ctn'),['QW']);
</script>

</body>
</html>
